@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: CursedTimerUlil;
}
body{
   font-family:sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   padding: 0;
   background: url('Basketball.jpg');
   background-size: cover;
}
#home-score, #guest-score, .btns button, #scoreValue{ 
    font-family: CursedTimerUlil;
}
.container,.result{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 575px;
    height: 385px;
    background-color: #1B244A;
    text-align: center;
}
h1{
    height: 35px;
    color: #EEEEEE;
    font-size: 40px;
    margin: 0px 0px 24px 0px;
}
.home-score-board{
    background-color: #080001;
    border-radius: 4px;
    width: 160px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-score,#guest-score{
    margin: 0;
    padding-top:20px ;
    color: #F94F6D;
    font-size: 90px;
}
.btns{
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 24px;
}
button{
    border: 2px solid #9AABD8;
    border-radius: 4px ;
    color: #9AABD8;
    background-color: transparent;
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 24px;
}
.result{
    justify-content: center;
    margin-top: 10px;
    height: 150px;
    background-color: #9dabd899;
}
#newGame{
    width: 150px;
    background-color: #1B244A;
    border-color:#1B244A;
    color: #EEEEEE;
}
.resultDispaly{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: start; 
}
.palyer , .score {
    margin:0;
    font-weight: bold;
    font-size: 20px;
    color: #1B244A;
}
.value{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #F94F6D;
    text-shadow: 0 0 1px black;
}